.contacts {
    background-color: #1E2230;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts--container {
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.contacts--container > h1 {
    font-family: var(--primaryFont);
    font-size: 2.8rem;
    margin-bottom: 1.5rem;
    color: #FFFFFF;
    text-align: left;
}

.contacts-body {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 2rem;
}

.contacts-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
}

.personal-details {
    display: flex;
    align-items: center;
}

.personal-details p {
    margin-left: 1rem;
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 500;
    font-family: var(--primaryFont);
    color: #FFFFFF;
    word-break: break-word;
    max-width: 400px;
}

/* RESPONSIVO */
@media screen and (max-width: 768px) {
    .contacts--container {
        
        align-items: center;
        padding: 1rem;
    }

    .contacts--container > h1 {
        font-size: 2.2rem;
        text-align: center;
    }

    .contacts-body {
        flex-direction: column;
        align-items: center;
    }

    .contacts-details {
        flex-direction: column;
        align-items: normal;
        
    }

    .personal-details {
        justify-content: center;
    }

    .personal-details p {
        margin-left: 0.8rem;
        font-size: 0.95rem;
    }
}

@media screen and (max-width: 480px) {
    .contacts--container > h1 {
        font-size: 1.8rem;
    }

    .personal-details p {
        font-size: 0.9rem;
        max-width: 90%;
    }
     .contacts-details {
        flex-direction: column;
        align-items: normal;
    
    }
}