.contacts {
    background-color: #1E2230;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    padding-bottom: 3rem;
}

.contacts--container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2rem 6rem 3rem;
    width: 80%;
    height: 100%;
    margin-top: 2rem;
}

.contacts--container > h1 {
    font-family: var(--primaryFont);
    font-size: 3.5rem;
    margin-bottom: 2.5rem;
    color: #FFFFFF;
}

.contacts-body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.contacts-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    flex: 0.6;
    box-sizing: border-box;
    padding-left: 7rem;
    margin-top: 1.2rem;
}

.personal-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 2.5rem;
}

.personal-details p {
    margin-left: 1.5rem;
    font-size: 18px;
    line-height: 110%;
    font-weight: 500;
    font-family: var(--primaryFont);
    width: 45%;
    word-break: break-word;
    color: #FFFFFF;
}

.contacts--img {
    display: none;
}

/* Responsividade */
@media screen and (max-width: 992px) {
    .contacts--container {
        width: 100%;
        margin-top: 1rem;
        padding: 2rem 4rem;
    }

    .contacts--container > h1 {
        font-size: 3rem;
        margin-bottom: 1.2rem;
    }

    .contacts-details {
        padding-left: 4rem;
    }

    .personal-details p {
        margin-left: 1rem;
        font-size: 1rem;
    }
}

@media screen and (max-width: 800px) {
    .contacts--container {
        align-items: center;
        padding: 2rem;
    }

    .contacts-body {
        flex-direction: column;
        align-items: center;
    }

    .contacts-details {
        padding-left: 0;
        padding: 1rem;
        align-items: center;
        margin-top: 2rem;
    }

    .personal-details {
        margin-bottom: 1.8rem;
    }

    .personal-details p {
        margin-left: 1.2rem;
        width: 95%;
    }
}

@media screen and (max-width: 400px) {
    .contacts-details {
        padding: 0;
        align-items: center;
    }
}